---
layout: 
title: Desiree Zamora Garcia's UX portfolio
overview: true
---

<!DOCTYPE html>
<html lang="en">
<head>
    <title>O hai</title>
     {% include header.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-custom, #caseNav" data-offset="0">

          {% include nav.html %}

    <section class="content-section">

        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <img class="mah_face img-responsive" src="img/about/face.png" alt="HAI">
               <h2>Dezzie wants to make the web a better place.</h2>
           

<p>My work experience has always been curiously about solving people's problems with technology. At the CFPB I have been able to continue advocating for people through planning and moderating UX research, prototyping designs, writing, and helping shape best-practices for a 21st-century government design team. Since I can research, design, and code, I've been known for helping out wherever I can to help something ship on time. To some this makes me a "UX generalist," but I'm actually T-shaped across a few things (I told you my arms were long). In any case, I'd <a href="http://en.wikipedia.org/wiki/Occam's_razor" target="new">rather just be called</a> a designer. Or just just use my first name. That's what I went by when people didn't call refer to me as a designer but I still solved problems. The only difference now is that I'm not skipping class and I'm getting paid instead.</p>

<p>I wouldn't be a designer if it weren't for having been a die-hard trance music fan since middle school (ask me about that story sometime). But I actively rejected a creative career for ten years after making my first website. I eventually came around to it when I learned that I could use my powers for good. This was when I learned about the CFPB, in a "Surprise!" interview with Audrey Chen (this is also a good story to ask me about).</p>

<p>When not working (but also when working), I like eating, thinking in the abstract, and taking stuff apart. I prefer my music without lyrics.</p>

<p>One day I want to write a history of the Internet, or travel to space.</p> 

            <hr>
  
            <small>The typeface on my resume is <a href="https://www.myfonts.com/fonts/latinotype/arquitecta/" target="new">Arquitecta</a>.
            The typeface on here is <a href="http://www.myfonts.com/fonts/latinotype/sanchez/" target="new">Sanchez</a>.
            Both were created by <a href="http://www.myfonts.com/foundry/Latinotype/" target="new">Latinotype</a>. Their name is a pun on what they do for a living. It is also a pun for what I am doing right now.
            </small>
            </div>
        </div>

    </section>

<!--
 <section id="related" class="secondary-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-2 col-sm-2">
                <h2 class="related">Case studies:</h2>
            </div>
            <div class="col-xs-2 col-sm-2 portfolio-item">
                    <a href="api.html">
                        <img class="img-responsive" src="img/portfolio/hmda/hmda_thumb.png" alt="documentation">
                    </a>
            </div>
            <div class="col-xs-2 col-sm-2">
                <h3 class="related">Hum-Dah</h3>
                <p>The Home Mortgage Disclosure Act. <a href="hmda.html">Case study <i class="fa fa-angle-double-right animated"></i></a></p><p>
            </div>
            <div class="col-xs-1"></div>


            <div class="col-xs-2 col-sm-2 1 portfolio-item">
                    <a href="prepaids.html">
                        <img class="img-responsive" src="img/portfolio/prepaid_thumb.jpg" alt="next year">
                    </a>
            </div>
            <div class="col-xs-2 col-sm-2">
                <h3 class="related">Transaction Facts</h3>
                <p>Fee disclosures for prepaid cards. <a href="prepaids.html">Case study <i class="fa fa-angle-double-right animated"></i></a></p>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-3 col-sm-3">
            </div>
            <div class="col-xs-2 col-sm-2 portfolio-item">
                    <a href="api.html">
                        <img class="img-responsive" src="img/portfolio/hmda/api_thumb.png" alt="documentation">
                    </a>
            </div>
            <div class="col-xs-2 col-sm-2">
                <h3 class="related">HMDA API Docs</h3>
                <p>The API powering HMDA tools. <a href="api.html">Case study <i class="fa fa-angle-double-right animated"></i></a></p><p>
            </div>
            <div class="col-xs-1"></div>
            <div class="col-xs-2 col-sm-2 1 portfolio-item">
                    <a href="hmda2013.html">
                        <img class="img-responsive" src="img/portfolio/hmda/hmda2013_thumb.png" alt="next year">
                    </a>
            </div>
            <div class="col-xs-2 col-sm-2">
                <h3 class="related">HMDA <br>2013</h3>
                <p>2013 data update. <a href="hmda2013.html">Case study <i class="fa fa-angle-double-right animated"></i></a></p>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-3 col-sm-3">
            </div>
            <div class="col-xs-2 col-sm-2 portfolio-item">
                    <a href="nd.html">
                        <img class="img-responsive" src="img/portfolio/nd_thumb.png" alt="documentation">
                    </a>
            </div>
            <div class="col-xs-2 col-sm-2">
                <h3 class="related">Church Life</h3>
                <p>Brand identity and content audit. <a href="nd.html">Case study <i class="fa fa-angle-double-right animated"></i></a></p><p>
            </div>

        </div>

    </div>
</section>
-->
 
 {% include footer.html %}


    <!-- Core JavaScript Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/jquery.hoverex.min.js"></script>
    <script src="js/retina-1.1.0.js"></script>
    <script src="js/jquery.hoverdir.js"></script>
    <script src="js/jquery.hoverex.min.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/dezzie.js"></script>

</body>

</html>
