---
layout: 
title: Desiree Zamora Garcia's UX portfolio
overview: true
---


<!DOCTYPE html>
<html lang="en">

<head>

    <title>Case Study - The Home Mortgage Disclosure Act (HMDA) 2013</title>
     {% include header.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-custom, #caseNav" data-offset="0">

     {% include nav.html %}
<section class="intro hmda2013" id="what">
                    <div class="col-md-6 text-left about">
                    <h1>Hum-Dah 2013</h1>
                    <h3>The Home Mortgage Disclosure Act (HMDA)</h3>
                    <h4>Consumer Financial Protection Bureau (CFPB)  · 
                    <a href="http://cfpb.github.io/api/hmda/" title="See the repo"><i class="fa fa-github"></i></a>
                    <a href="http://centerforplainlanguage.org/clearmark/" title="Nominated for an award!"><i class="fa fa-trophy fa-fw"></i></a>
                    <a href="http://consumerfinance.gov/hmda" title="Go to there"><i class="fa fa-external-link fa-fw"></i></a>
                    </h4>
                    <p>Harder, better, faster, stronger.   
                    <div class="page-scroll"><a href="#solution" title="YMMV"> Read a 0-minute case study <i class="fa fa-angle-double-right animated"></i></a></div>
                </p>
                        
    </div>

</section>
 {% include footer.html %}
    <!-- Core JavaScript Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/jquery.hoverex.min.js"></script>
    <script src="js/jquery.hoverdir.js"></script>
    <script src="js/jquery.hoverex.min.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/dezzie.js"></script>

</body>

</html>
