---
layout: 
title: Desiree Zamora Garcia's UX portfolio
overview: true
---


<!DOCTYPE html>
<html lang="en">

<head>
    <title>Case Study - Prepaid Cards Fee Disclosure</title>
   {% include header.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-custom" data-offset="0">
        {% include nav.html %}

    <section class="prepaids intro" id="what">
                   <div class="col-md-6 text-left about">
                    <h1>Transaction facts</h1>
                    <h2>Disclosing fees on prepaid cards<h2>
                    <h4>Consumer Financial Protection Bureau (CFPB)  · 
                    <a href="http://github.com/dezzie/prepaid-cards" title="See the repo"><i class="fa fa-github"></i></a>
                    </h4>
                    <p>Making the fine print behind prepaid cards easier to understand.
                    <div class="page-scroll"><a href="#solution" class="btn btn-circle" title="YMMV"> Read an 8-minute case study<i class="fa fa-angle-double-right animated"></i></a></div>
                </p>
    </section>


    <section id="solution" class="content-section">
        <div class="pitch">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <p>Prepaid cards are sort of like debit or credit cards...but not really. To understand their impact on consumers, it's best to think of them literally–a card you purchase. Whichever way you think of it, prepaid cards have become popular, and they make industry a lot of money with undisclosed and intentionally confusing fees.</p> 

                <p>The CFPB is working on an upcoming rule to protect consumers from these practices. As a user experience designer, I helped prototype a label that encourages consumers to comparison shop and stay away from shady deals.</p>
            </div>
        </div>
    </div>
    </section>

    <section id="process">
        <div class="container">

        <h6>Context</h6>
            <div class="row">

            <!--first column-->
            <div class="col-md-3 portfolio-item">
                <img class="img-responsive" src="img/portfolio/prepaids/context_card_rack.png" alt="knope">
            </div>
            <!--end col-->

            <!--second column-->
            <div class="col-md-3 portfolio-item">
                <img class="img-responsive" src="img/portfolio/prepaids/context_current_disclosures.png" alt="user-journey">
            </div>
            <!--end col-->


            <!--third column-->
            <div class="col-md-3 portfolio-item">
                <img class="img-responsive" src="img/portfolio/prepaids/schumer.png" alt="Actual audience">
            </div>
            <!--end col-->

            <!--fourth column-->
            <div class="col-md-3 portfolio-item">
                <img class="img-responsive" src="img/portfolio/prepaids/nutrition_facts.png" alt="Actual audience">
            </div>
            <!--end col-->
        </div>
        <div class="row content-row">
            <div class="col-md-6 portfolio-item">
                <p>Currently, each prepaid card company's retail package discloses different information. Each has a different style and format. We think these things make it difficult to find the information important to consumers, and do side-by-side comparisons. When most consumers need to limit their shopping time to the checkout line, it's no surprise that 68% of them don't comparison shop before making a purchase.</p>
            </div>
             <div class="col-md-6 portfolio-item">
                <p>Taking regulatory and design inspiration from the <a href="http://en.wikipedia.org/wiki/Schumer_box" target="new">Schumer box</a>, which summarizes the costs of a credit card in the United States, and the <a href="http://en.wikipedia.org/wiki/Nutrition_facts_label" target="new">Nutrition Facts label</a>, which is required on most packaged foods, the CFPB wants to clearly present a prepaid card's most important fees so that consumers can find the best one for their needs.</p> 
            </div>
        </div>



            <h6>Initial direction</h6>
            <div class="row">

            <!--first column-->
            <div class="col-md-3 portfolio-item">
                <img class="img-responsive" src="img/portfolio/prepaids/top-line.png" alt="knope">
            </div>
            <!--end col-->

            <!--second column-->
            <div class="col-md-3 portfolio-item">
                <img class="img-responsive" src="img/portfolio/prepaids/comparison_shopping.png" alt="user-journey">
            </div>
            <!--end col-->


           <div class="col-md-3 portfolio-item">
                <img class="img-responsive" src="img/portfolio/prepaids/competitors.png" alt="knope">
            </div>
            <!--end col-->

            <!--fourth column-->
           <div class="col-md-3 portfolio-item">
                <img class="img-responsive" src="img/portfolio/prepaids/challenge_30_fees.png" alt="user-journey">
            </div>
            <!--end col-->
            </div>
        <div class="row">
            <div class="col-md-6 portfolio-item">
            <p>Initially, the Design Ops team was asked to develop a way to visually compare fees in the hopes that they'd motivate consumers to comparison shop and read disclosures fully before making a purchase. The business had contracted a testing firm who would test two versions of design work. Based on the impressions of consumer testers, the preferred version would be chosen as a model form for the prepaids industry.</p>
        </div>
            <div class="col-md-6 portfolio-item">
            <p>The design team asked questions about the business's current direction, and we found that lobbyist groups had taken a stab at solving the prepaid card disclosure problem. Something, they argued, had to work as a visual hook and get consumers to comparison shop. They had learned from focus groups that consumers ultimately were choosing cards based on one or two factors.
            <p>
            </div>


        </div>



            <h6>Defining design problems</h6>
            <div class="row">
            <div class="col-md-4 portfolio-item">
                <img class="img-responsive" src="img/portfolio/prepaids/insight_iterating.png" alt="Actual audience">
            </div>
            <div class="col-md-8 portfolio-item">
            <p>The problem was that the Design Ops team had just gotten this UX designer and they decided to put her on this project to help solve this "visual hook" puzzle. She asked the business some hard questions like, "How do you assume your work will actually do what you want it to do?" and "Why did you choose the content on the form?" They didn't get think this was important, and they got kinda grumpy, but that was okay.
            <p>
            </div>
        </div>

            <div class="row">
            <div class="col-md-4 portfolio-item">
                <img class="img-responsive" src="img/portfolio/prepaids/proposed_experience.png" alt="Actual audience">
            </div>

            <div class="col-md-8 portfolio-item">
                <p>By making the connection between the fees that were driving consumers' shopping decisions currently (for example, fees that had burned them before), and the fees that design was giving visual prominence to, the team began thinking about the model form as a series of behaviors instead of a piece of information–an experience, if you will.</p>
            </div>
        </div>

         

<h6>Taking at step back to get to know users</h6>
            <div class="row">

            <!--first column-->
            <div class="col-md-4 portfolio-item">
                <img class="img-responsive" src="img/portfolio/prepaids/personas.jpg" alt="knope">
            </div>
            <!--end col-->

            <!--second column-->
            <div class="col-md-4 portfolio-item">
                <img class="img-responsive" src="img/portfolio/prepaids/design-goals.jpg" alt="user-journey">
            </div>
            <!--end col-->


           <div class="col-md-4 portfolio-item">
                <img class="img-responsive" src="img/portfolio/prepaids/ordering-fees.jpg" alt="knope">
            </div>
            <!--end col-->
            </div>
        <div class="row">
            <div class="col-md-4 portfolio-item">
            <p>Analyzing the focus groups, I created three personas, describing different types of prepaid card consumers. Their financial history, purchasing behaviors, and finacial product options drive them to prepaids with varying degrees of self-agency.</p>
        </div>

            <div class="col-md-4 portfolio-item">
            <p>I used these to propose design goals and re-frame the way the business perceived the value of design. I used examples of how elements of their draft form were already working towards these goals, and how design could help reach them.</p>
        </div>

            <div class="col-md-4 portfolio-item">
            <p>I used the personas and design goals to justify the questions I was initially approached to help answer, about giving visual prominence to 4 fees at the top of a form. 
            <p>
            </div>


        </div>

   <div class="row">
    <h6>Behavior goals</h6>
            <div class="col-md-4 portfolio-item">
                <img class="img-responsive" src="img/portfolio/prepaids/bx_change_process.png" alt="user-journey">
            </div>
            <!--end col-->
            <div class="col-md-8 portfolio-item">
                <p>I also used the information from the focus groups to put together a set of behaviors that would take place during an ideal prepaid card shopping experience. This would help me decide what to look for during user testing beyond general impressions or preferences. I also used it as a place to document risks and challenges to an ideal experience.</p>
            </div>
            </div>


            <div class="row">
            <h6> </h6>
            <p class="context">Meanwhile, we were able to take the initial draft of the model form from one made up of over half fine print to one around a third. Design placed their bets on  the decision-making power of four visually-prominent fees, not fine print. We prohibited fine print from appearing in multiple places of the form–we placed our bets on users' uncanny ability to ignore it in a way that our lawyer-based stakeholders could not. Instead of referencing as many fees as possible on limited real estate, we listed the total number of fees, and placed calls to action beneath to get details.</p>
            <p class="context">The challenge throughout the project was to focus this product for the user's shopping experience, not the Bureau's legal team. We pushed for language to be actionable, relevant [to a consumer's decision-making process], not about the industry or the regulatory process.</p>
            <!--first column-->
            <div class="col-md-12 portfolio-item">
                <img class="img-responsive" src="img/portfolio/prepaids/process.png" alt="knope">
            </div>
            <!--end col-->

            </div>

         <h6>Testing a prototype</h6>
            <div class="row">

            <!--first column-->
            <div class="col-md-3 portfolio-item">
                <img class="img-responsive" src="img/portfolio/prepaids/prototype_familiar_environment.png" alt="knope">
            </div>
            <!--end col-->

            <!--second column-->
            <div class="col-md-3 portfolio-item">
                <img class="img-responsive" src="img/portfolio/prepaids/open_package.png" alt="user-journey">
            </div>
            <!--end col-->


            <!--third column-->
            <div class="col-md-3 portfolio-item">
                <img class="img-responsive" src="img/portfolio/prepaids/web_disclosure.png" alt="Actual audience">
            </div>
            <!--end col-->

            <!--fourth column-->
            <div class="col-md-3 portfolio-item">
                <img class="img-responsive" src="img/portfolio/prepaids/sms.png" alt="Actual audience">
            </div>
            <!--end col-->
        </div>

        <div class="row">
            <div class="col-md-6 portfolio-item">
            <p>User testing comes with fun <a href="http://en.wikipedia.org/wiki/Bias" target="new">baggage</a> and wanted to make future testing sessions less focused on a user's answer to [leading] questions and more on indirect answers like hesitation, inaction, and indecision. So instead of showing two versions of the same label on a sheet of paper and asking questions about specific fees, I proposed that we mock up more of a shopping experience.</p>

        </div>
            <div class="col-md-6 portfolio-item">
            <p>At this point, the business had requested that we test a "long form" or a complete disclosure of all fees. Realizing that consumers were being primed to choosing to read the form, I chose to create a package with it tucked inside, much how it would be implemented. I also prototyped a fee website, set up an SMS-based fee lookup service, so that all possible calls to action on the package were interactive.</p>
            </div>


        </div>


        <h6>The behaviors we were after</h6>
            <div class="row">

            <!--fourth column-->
            <div class="col-md-3 portfolio-item">
                <img class="img-responsive" src="img/portfolio/prepaids/testing_versions.png" alt="Actual audience">
            </div>
            <!--end col-->

            <!--first column-->
            <div class="col-md-3 portfolio-item">
                <img class="img-responsive" src="img/portfolio/prepaids/hook.png" alt="knope">
            </div>
            <!--end col-->

            <!--second column-->
            <div class="col-md-3 portfolio-item">
                <img class="img-responsive" src="img/portfolio/prepaids/challenge_long_form_reality.png" alt="user-journey">
            </div>
            <!--end col-->


            <!--third column-->
            <div class="col-md-3 portfolio-item">
                <img class="img-responsive" src="img/portfolio/prepaids/package_web.png" alt="Actual audience">
            </div>
            <!--end col-->

        </div>

        <div class="row">
            <div class="col-md-6 portfolio-item">
            <p>Two of our design goals were easier to test for than the third. All fees were disclosed, either inside or outside the package. We would ask users questions about how trusting they were of the information.</p>
            <p>We could ask straightforward questions about fee comprehension, and in addition to tallying up correct vs incorrect answers, we could watch out for things like hesitation, confusion, and indecisiveness in responses.</p>

            
        </div>
            <div class="col-md-6 portfolio-item">
            <p>But to test the likelihood of whether people would compare products in the store? That one is tricky. What we avoided asking was if they would comparison shop in real life. Instead we made inferences about how users were making their shopping choices in our testing scenarios. Were they referencing the fees we gave visual prominence to? Were they messing around with a package, looking for more information? Were they picking up packages and holding them side by side?</p>
            </div>


        </div>

        <h6>Findings</h6>
            <div class="row">

            <!--first column-->
            <div class="col-md-3 portfolio-item">
                <img class="img-responsive" src="img/portfolio/prepaids/top_line.png" alt="knope">
            </div>
            <!--end col-->
            <div class="col-md-8 portfolio-item">
                <p>The biggest thing we learned was that testers kept going back to those four visually prominent fees. Even after asking about questions of fee comprehension, the dealmakers and dealbreakers were at the top of the form. Fine print left more questions unanswered than answered. Testers were able to place one or more of those fees in the context of their previous shopping choices, and more often than not, times when they were burned. Those fees jumped out at them, but more importantly, they were personal.
                </p>
            </div>

        </div>


        <h6>Why we believe our prototype and model form is better than all other attempts</h6>
            <div class="row">

            <!--first column-->
            <div class="col-md-3 portfolio-item">
                <img class="img-responsive" src="img/portfolio/prepaids/pew_ours.png" alt="knope">
            </div>
            <!--end col-->

            <!--second column-->
            <div class="col-md-3 portfolio-item">
                <img class="img-responsive" src="img/portfolio/prepaids/durability.png" alt="user-journey">
            </div>
            <!--end col-->


            <!--third column-->
            <div class="col-md-3 portfolio-item">
                <img class="img-responsive" src="img/portfolio/prepaids/product_thickness.png" alt="Actual audience">
            </div>
            <!--end col-->

            <!--fourth column-->
            <div class="col-md-3 portfolio-item">
                <img class="img-responsive" src="img/portfolio/prepaids/ours_pew_back.png" alt="Actual audience">
            </div>
            <!--end col-->
        </div>
        <div class="row">
            <div class="col-md-12 portfolio-item">
            <p class="context">We talked to some lobbyists who felt very strongly about their work, but my slightly saucy opinion sides with the talented people I worked with on the design team who kind of shot down their work from a realistic packaging perspective. Our model form is designed to fit on a card packaging system already in production, where fee information is available instantly, without opening a package. Industry would be less willing to cooperate if the CFPB told them to make more expensive packaging that was not toddler-proof.</p>
            
        </div>


        </div>

         <h6>Our strongest recommendation</h6>
            <div class="row">

            <!--first column-->
            <div class="col-md-6 portfolio-item">
                <img class="img-responsive" src="img/portfolio/prepaids/final.png" alt="knope">
            </div>
            <!--end col-->
             <div class="col-md-6 portfolio-item">
                <img class="img-responsive" src="img/portfolio/prepaids/submitted_version.png" alt="knope">
            </div>
          
        </div>
        <div class="row">
            <div class="col-md-12 portfolio-item">
            <p class="context">We documented our design decisions and reasoning for both a print and digital disclosure for the business to use in a <a href="http://www.consumerfinance.gov/newsroom/consumer-financial-protection-bureau-considers-rules-on-prepaid-cards/" target="new">draft rulemaking</a>. As a user experience designer, I was asked to submit a list of the behavioral and cognitive research I used for justifying my recommendations. I had been secretly waiting for this to happen someday. It was very validating.</p>
            
        </div>

        <div class="row">

         <h6>Current status and changing requirements</h6>


            <!--first column-->
            <div class="col-md-8 col-md-offset-2 portfolio-item">
                <img class="img-responsive" src="img/portfolio/prepaids/dont_mess_with_it.png" alt="knope">
            </div>
            <!--end col-->
        
            <div class="col-md-12 portfolio-item">
            <p class="context">The regulations team is currently noodling on whether or not to allow overdraft on a prepaid card, which I've learned, can't really be called overdraft on a prepaid card. As a designer who loves plain language, I am noodling on how to say overdraft without actually using the word overdraft. Luckily, the business hasn't made a decision, and it brings me much relief.</p>
            
            </div>

          
        </div>



    </div><!--end container-->
    </section><!--end section-->


{% include footer.html %}


    <!-- Core JavaScript Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/jquery.hoverex.min.js"></script>
    <script src="js/retina-1.1.0.js"></script>
    <script src="js/jquery.hoverdir.js"></script>
    <script src="js/jquery.hoverex.min.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/dezzie.js"></script>

</body>

</html>
