<!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="discoveryUsers" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>The audience</h2>
                            <img src="img/portfolio/hmda/hmda_discovery_stickies.JPG" class="img-responsive img-centered" alt="discoveryStickies">
                            <p>Stakeholders and product owners described the workflow needs of potential users for the entire HMDA project. I identified 6 different audiences and recommended that developers be pursued separately.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- modal end -->

    <div class="portfolio-modal modal fade" id="otherAPIs" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Heuristic evaluation of other CFPB documentation</h2>
                            <img src="img/portfolio/api/concept_heuristic.png" class="img-responsive img-centered" alt="">
                            <p>Text in green describes things that existing content is doing well. Yellow text describes things that could use improvement. Red bad.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- modal end-->
   
    <div class="portfolio-modal modal fade" id="apiconcept" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Documentation Concept</h2>
                            <img src="img/portfolio/api/concept_goals.jpg" class="img-responsive" alt="">
                                <p>Brings content in line with CFPB brand and voice; uses plain language; interactions solve problems and stay out of the way.
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--modal end-->
    <div class="portfolio-modal modal fade" id="wireframes" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Wireframes</h2>
                            <img src="img/portfolio/api/wireframes.png" class="img-responsive img-centered" alt="Citizen">
                            <p>Wireframes used as paper prototypes to validate site navigation.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- modal end-->
    <div class="portfolio-modal modal fade" id="fork_swagger" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Using Github</h2>
                            <img src="img/portfolio/api/prototype.png" class="img-responsive img-centered" alt="Researcher">
                            <p>Forking existing work allowed us to set up interactive prototypes really quickly.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- modal end-->
    <div class="portfolio-modal modal fade" id="interactive_prototype" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 content">
                        <div class="modal-body">
                            <h2>Interactive Prototype</h2>
                            <img src="img/portfolio/api/prototype_Console.png" class="img-responsive img-centered" alt="Developers">
                            <p>We hooked up our API to the default Swagger console for use in internal validation. We found that the API wasn't totally self-documenting, so a lot of key definitions were missing, and it really undermined the console's potential. </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!--modal end-->
    <div class="portfolio-modal modal fade" id="tada" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Tada!</h2>
                            <img src="img/portfolio/api/concept_eregs_huge.png" class="img-responsive img-centered" alt="All the users">
                            <p>If you're here, you might as well go to it: <a href="http://cfpb.github.io/api/hmda" target="new">cfpb.github.io/api/hmda</a></p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--modal end-->