<!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="discoveryUsers" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>The audience</h2>
                            <img src="img/portfolio/hmda/hmda_discovery_stickies.JPG" class="img-responsive img-centered" alt="discoveryStickies">
                            <p>Stakeholders and product owners described the workflow needs of potential users for the entire HMDA project. I identified 6 different audiences and recommended that developers be pursued separately.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- modal end -->

    <div class="portfolio-modal modal fade" id="otherAPIs" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Heuristic evaluation of other CFPB documentation</h2>
                            <img src="img/portfolio/api/concept_heuristic.png" class="img-responsive img-centered" alt="">
                            <p>Text in green describes things that existing content is doing well. Yellow text describes things that could use improvement. Red bad.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- modal end-->
   
    <div class="portfolio-modal modal fade" id="apiconcept" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Documentation Concept</h2>
                            <img src="img/portfolio/api/concept_goals.jpg" class="img-responsive" alt="">
                                <p>Brings content in line with CFPB brand and voice; uses plain language; interactions solve problems and stay out of the way.
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--modal end-->
    <div class="portfolio-modal modal fade" id="wireframes" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Wireframes</h2>
                            <img src="img/portfolio/api/wireframes.png" class="img-responsive img-centered" alt="Citizen">
                            <p>Wireframes used as paper prototypes to validate site navigation.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- modal end-->
    <div class="portfolio-modal modal fade" id="fork_swagger" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Using Github</h2>
                            <img src="img/portfolio/api/prototype.png" class="img-responsive img-centered" alt="Researcher">
                            <p>Forking existing work allowed us to set up interactive prototypes really quickly.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- modal end-->
    <div class="portfolio-modal modal fade" id="interactive_prototype" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 content">
                        <div class="modal-body">
                            <h2>Interactive Prototype</h2>
                            <img src="img/portfolio/api/prototype_Console.png" class="img-responsive img-centered" alt="Developers">
                            <p>We hooked up our API to the default Swagger console for use in internal validation. We found that the API wasn't totally self-documenting, so a lot of key definitions were missing, and it really undermined the console's potential. </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!--modal end-->
    <div class="portfolio-modal modal fade" id="tada" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Tada!</h2>
                            <img src="img/portfolio/api/concept_eregs_huge.png" class="img-responsive img-centered" alt="All the users">
                            <p>If you're here, you might as well go to it: <a href="http://cfpb.github.io/api/hmda" target="new">cfpb.github.io/api/hmda</a></p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--modal end-->
    <div class="portfolio-modal modal fade" id="FFIEC" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Competitor analysis</h2>
                            <img src="img/portfolio/hmda/hmda_uxresearch_ffiec.jpg" class="img-responsive img-centered" alt="FFIEC landing page">
                            <p>Whoops–can't really call it that in government. Our tools were crafted after the most sought-after, useful, yet frustrating parts of this existing resource.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="filterFlow" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Sketching flows</h2>
                            <img src="img/portfolio/hmda/hmda_uxresearch_filter_flow.png" class="img-responsive img-centered" alt="Filtering through records">
                            <p>To provide the most useful information quickly we created suggested combinations of filters, but knew that some users would want to set their own, too.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="portfolio-modal modal fade" id="groupFlow" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Sketching flows</h2>
                            <img src="img/portfolio/hmda/hmda_uxresearch_group_flow.png" class="img-responsive img-centered" alt="Creating a summary table">
                            <p>Conveying the concept of a <em>summary table</em>, something only HMDA experts and users of existing tools would recognize as the useful means to make sense of large amounts of records, was a challenge. We went through many names before we settled on "Summary Tables."</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="portfolio-modal modal fade" id="userFlow" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Sketching flow</h2>
                            <img src="img/portfolio/hmda/hmda_uxresearch_flow.png" class="img-responsive img-centered" alt="User flows">
                            <p>Putting together how experts and non-experts would move through the tool informed the pages that needed to be built.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Modals for UI section -->
        <div class="portfolio-modal modal fade" id="ffiecUI" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Starting points</h2>
                            <img src="img/portfolio/hmda/hmda_ui_ffiec.jpg" class="img-responsive img-centered" alt="FFIEC's data tool">
                            <p>"Never send a human to do a machine's job." - Agent Smith, <em>The Matrix</em></p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="portfolio-modal modal fade" id="filterStickies" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Creating the UI</h2>
                            <img src="img/portfolio/hmda/hmda_UI_stickies.png" class="img-responsive img-centered" alt="Exercises for determining filter order and categories">
                            <p>Design exercises like these were used to create meaningful categories and ordering of essential and non-essential filters. </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="portfolio-modal modal fade" id="filterWires" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Creating the UI</h2>
                            <img src="img/portfolio/hmda/HMDA_ui_modules.png" class="img-responsive img-centered" alt="Wireframes and final visuals for filter categories">
                            <p>This user interface will gladly show you how deep the rabbit hole goes.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="portfolio-modal modal fade" id="chosenField" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Creating the UI</h2>
                            <img src="img/portfolio/hmda/hmda_UI_chosen.jpg" class="img-responsive img-centered" alt="Type to search drop down menus are easy to deselect too">
                            <p>The chosen.js library allowed us to solve the problem of having to use multiple resources at once to look up single pieces of information. Here, we used the plain language names of metropolitan areas. It is much easier to search for bits of a city name than to remember a numerical code.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Modals for UI section -->
        <div class="portfolio-modal modal fade" id="tooltipUI" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Tooltips</h2>
                            <img src="img/portfolio/hmda/HMDA_UI_tooltip.png" class="img-responsive img-centered" alt="Tooltips as a way to give context to specific terms">
                            <p>Because I would learn that "Not applicable" would mean many different things.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="portfolio-modal modal fade" id="metricWires" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Creating the UI</h2>
                            <img src="img/portfolio/hmda/hmda_ui_summary.png" class="img-responsive img-centered" alt="">
                            <p>Building natural language features into the UI creates a broad, yet granular data experience.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="portfolio-modal modal fade" id="nlwUI" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Creating the UI</h2>
                            <img src="img/portfolio/hmda/hmda_UI_nlw.png" class="img-responsive img-centered" alt="Wireframes and final visuals for filter categories">
                            <p>For much of our intended audience, these five pieces of information eliminate the need for using additional software to learn things about the data.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="portfolio-modal modal fade" id="shareUI" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Creating the UI</h2>
                            <img src="img/portfolio/hmda/hmda_UI_share.jpg" class="img-responsive img-centered" alt="Type to search drop down menus are easy to deselect too">
                            <p>Downloading a 12GB file to an iPhone is a bad idea. Because empathy, a way to save queries built during particularly productive commutes and come back to them later.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
