<!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="adjectives" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Defining content goals</h2>
                            <img src="img/portfolio/booklets/content_goals.jpg" class="img-responsive img-centered" alt="">
                            <p>Words the client used to describe the kind of content they hoped to develop.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- modal end -->

    <div class="portfolio-modal modal fade" id="matrix" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Exploring concepts</h2>
                            <img src="img/portfolio/booklets/viability.jpg" alt="user-journey">
                            <p>I created a matrix during a meeting with the business to assess the viability of the creative directions they wanted us to take. Using the types of goals they wanted to meet with their content, I was able to get them to move away from these directions, which were resulting in a content holdup.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- modal end-->

    <div class="portfolio-modal modal fade" id="voting" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Exploring concepts</h2>
                            <img src="img/portfolio/booklets/voting.jpg" alt="user-journey">
                            <p>Then, we each voted for the concepts we thought had the biggest chance of success. The purpose of this exercise was to particularly move away from the role-playing game and story concepts, were not in line with the CFPB's voice.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- modal end-->

      <div class="portfolio-modal modal fade" id="1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Exploring content presentation</h2>
                            <img class="img-responsive" src="img/portfolio/booklets/pattern_concept_1.JPG" alt="user-journey">
                            <p>In this example, we were able to demonstrate to the business how the workbook and now vs future concepts made for stronger, actionable content, relative to the "coffee cup time" concept.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- modal end-->
     <div class="portfolio-modal modal fade" id="2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Exploring content presentation</h2>
                            <img class="img-responsive" src="img/portfolio/booklets/pattern_concept_2.JPG" alt="user-journey">
                            <p>This example shows different ways to encourage consumers to shop around before committing to the first mortgage offer they receive.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- modal end-->
   
  <div class="portfolio-modal modal fade" id="3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Exploring content presentation</h2>
                            <img class="img-responsive" src="img/portfolio/booklets/pattern_concept_3.JPG" alt="user-journey">
                            <p>In this example, we explored ways to describe the actions necessary to accept a mortgage offer.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- modal end-->
   
   
    <div class="portfolio-modal modal fade" id="napkin1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                         
                            <img class="img-responsive" src="img/portfolio/booklets/ideally.JPG" alt="user-journey">
                         
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- modal end-->
   
  <div class="portfolio-modal modal fade" id="napkin2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                      
                            <img class="img-responsive" src="img/portfolio/booklets/people_goal.JPG" alt="user-journey">
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- modal end-->
   
   