<section id="footer" class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-4">
                <p>©2014 Desirée Zamora García.<br>
                    My food and my code are always made from scratch.</p>
            </div>
            

            <div class="col-xs-6 col-sm-4">
            <a href="http://github.com/dezzie" target="new" title="View my repos and code"><i class="el-icon-github"></i></a>
                <a href="http://www.linkedin.com/pub/desiree-zamora-garcia/13/512/421/" target="new" title="View my LinkedIn profile"><i class="el-icon-linkedin"></i></a>
                <a href="http://twitter.com/thedezzie" target="new" title="Witty observations and non-sequiturs"><i class="el-icon-twitter"></i></a>
                <a href="http://www.last.fm/user/missdezzie" target="new" title="What am I listening to right now?"><i class="el-icon-lastfm"></i></a>
                <a href="http://slideshare.com/dezzie" target="new" title="Talks I've given"><i class="el-icon-slideshare"></i></a>
                <a href="http://www.behance.net/thedezzie" target="new" title="Brief public portfolio"><i class="el-icon-behance"></i></a>
                <!--<a href="mailto:desiree.z.garcia@gmail.com" target="new" title="Good old-fashioned email"><i class="el-icon-inbox-box"></i></a>-->
            </div>

            <div class="col-xs-6 col-sm-4">
                <p>The best way to get in touch with me is via Twitter:<br>
                    <a href="https://twitter.com/intent/tweet?screen_name=thedezzie" class="twitter-mention-button" title="This will open a new window!" data-related="thedezzie">Tweet to @thedezzie</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </p>
            </div>
        
    </div>
</section>