<!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="discoveryStickies" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Needfinding</h2>
                            <img src="img/portfolio/hmda/hmda_discovery_stickies.JPG" class="img-responsive img-centered" alt="discoveryStickies">
                            <p>Stakeholders and product owners described the workflow needs of potential users. At the end of the session we had identified 6 different audiences. </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- modal end -->
    <div class="portfolio-modal modal fade" id="quadrantStickies" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Persona development</h2>
                            <img src="img/portfolio/hmda/hmda_discovery_synthesis.JPG" class="img-responsive img-centered" alt="">
                            <p>To drive a conversation about audience prioritization and reach consensus among stakeholders, I focused on workflows instead of job titles. </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- modal end-->
   
    <div class="portfolio-modal modal fade" id="blueUser" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Persona development</h2>
                            <img src="img/portfolio/hmda/hmda_discovery_blue.jpg" class="img-responsive img-centered" alt="">
                            <p>Journalists, advocacy groups, and some researchers care about things captured in HMDA data, but their workflow just calls for high-level insights.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--modal end-->
    <div class="portfolio-modal modal fade" id="yellowUser" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Persona development</h2>
                            <img src="img/portfolio/hmda/hmda_discovery_yellow.jpg" class="img-responsive img-centered" alt="Citizen">
                            <p>The average citizen is not familiar with HMDA data. But they'd probably appreciate transparency from their government.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- modal end-->
    <div class="portfolio-modal modal fade" id="orangeUser" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Persona development</h2>
                            <img src="img/portfolio/hmda/hmda_discovery_orange.jpg" class="img-responsive img-centered" alt="Researcher">
                            <p>Our primary audience is comprised of folks who are HMDA experts. They really just want a simple way to grab the data. They've got the rest of their workflow down.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- modal end-->
    <div class="portfolio-modal modal fade" id="tealUser" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Persona development</h2>
                            <img src="img/portfolio/hmda/hmda_discovery_teal.jpg" class="img-responsive img-centered" alt="Developers">
                            <p>Part of the mission of the CFPB is to improve government transparency through open data. The API powering the project provides HMDA data in different formats and is free to the public.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!--modal end-->
    <div class="portfolio-modal modal fade" id="quadrants" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Identifying an audience</h2>
                            <img src="img/portfolio/hmda/hmda_discovery_quadrants.png" style="border: solid 1px #c0c0c0;" class="img-responsive img-centered" alt="All the users">
                            <p>This diagram was used to pitch the design vision for the project: to deliver data so that people can find answers and tell stories.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--modal end-->
    <div class="portfolio-modal modal fade" id="FFIEC" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Competitor analysis</h2>
                            <img src="img/portfolio/hmda/hmda_uxresearch_ffiec.jpg" class="img-responsive img-centered" alt="FFIEC landing page">
                            <p>Whoops–can't really call it that in government. Our tools were crafted after the most sought-after, useful, yet frustrating parts of this existing resource.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="filterFlow" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Sketching flows</h2>
                            <img src="img/portfolio/hmda/hmda_uxresearch_filter_flow.png" class="img-responsive img-centered" alt="Filtering through records">
                            <p>To provide the most useful information quickly we created suggested combinations of filters, but knew that some users would want to set their own, too.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="portfolio-modal modal fade" id="groupFlow" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Sketching flows</h2>
                            <img src="img/portfolio/hmda/hmda_uxresearch_group_flow.png" class="img-responsive img-centered" alt="Creating a summary table">
                            <p>Conveying the concept of a <em>summary table</em>, something only HMDA experts and users of existing tools would recognize as the useful means to make sense of large amounts of records, was a challenge. We went through many names before we settled on "Summary Tables."</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="portfolio-modal modal fade" id="userFlow" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Sketching flow</h2>
                            <img src="img/portfolio/hmda/hmda_uxresearch_flow.png" class="img-responsive img-centered" alt="User flows">
                            <p>Putting together how experts and non-experts would move through the tool informed the pages that needed to be built.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Modals for UI section -->
        <div class="portfolio-modal modal fade" id="ffiecUI" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Starting points</h2>
                            <img src="img/portfolio/hmda/hmda_ui_ffiec.jpg" class="img-responsive img-centered" alt="FFIEC's data tool">
                            <p>"Never send a human to do a machine's job." - Agent Smith, <em>The Matrix</em></p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="portfolio-modal modal fade" id="filterStickies" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Creating the UI</h2>
                            <img src="img/portfolio/hmda/hmda_UI_stickies.png" class="img-responsive img-centered" alt="Exercises for determining filter order and categories">
                            <p>Design exercises like these were used to create meaningful categories and ordering of essential and non-essential filters. </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="portfolio-modal modal fade" id="filterWires" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Creating the UI</h2>
                            <img src="img/portfolio/hmda/HMDA_ui_modules.png" class="img-responsive img-centered" alt="Wireframes and final visuals for filter categories">
                            <p>This user interface will gladly show you how deep the rabbit hole goes.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="portfolio-modal modal fade" id="chosenField" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Creating the UI</h2>
                            <img src="img/portfolio/hmda/hmda_UI_chosen.jpg" class="img-responsive img-centered" alt="Type to search drop down menus are easy to deselect too">
                            <p>The chosen.js library allowed us to solve the problem of having to use multiple resources at once to look up single pieces of information. Here, we used the plain language names of metropolitan areas. It is much easier to search for bits of a city name than to remember a numerical code.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Modals for UI section -->
        <div class="portfolio-modal modal fade" id="tooltipUI" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Tooltips</h2>
                            <img src="img/portfolio/hmda/HMDA_UI_tooltip.png" class="img-responsive img-centered" alt="Tooltips as a way to give context to specific terms">
                            <p>Because I would learn that "Not applicable" would mean many different things.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="portfolio-modal modal fade" id="metricWires" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Creating the UI</h2>
                            <img src="img/portfolio/hmda/hmda_ui_summary.png" class="img-responsive img-centered" alt="">
                            <p>Building natural language features into the UI creates a broad, yet granular data experience.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="portfolio-modal modal fade" id="nlwUI" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Creating the UI</h2>
                            <img src="img/portfolio/hmda/hmda_UI_nlw.png" class="img-responsive img-centered" alt="Wireframes and final visuals for filter categories">
                            <p>For much of our intended audience, these five pieces of information eliminate the need for using additional software to learn things about the data.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="portfolio-modal modal fade" id="shareUI" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Creating the UI</h2>
                            <img src="img/portfolio/hmda/hmda_UI_share.jpg" class="img-responsive img-centered" alt="Type to search drop down menus are easy to deselect too">
                            <p>Downloading a 12GB file to an iPhone is a bad idea. Because empathy, a way to save queries built during particularly productive commutes and come back to them later.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
