 <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="col-md-5">
            </div>
            <div class="col-md-2">
            <div class="face" title="Stop hitting yourself!"><a href="index.html">HAI</a></div>
            </div>
            <div class="col-md-5">
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Work <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="hmda.html">1. HMDA </a></li>
                            <li><a href="api.html">2. API</a></li>
                            <li><a href="prepaids.html">3. Prepaids</a></li>
                            <li><a href="nd.html">4. Notre Dame</a></li>
                            <li><a href="readthis.html">5. TILA-RESPA</a></li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="about.html" title="Who is this person?">About</a>
                    </li>
                    <li class="">
                        <a href="http://desireezamora.com/content/hire_desiree_garcia.pdf" title="View it or download it">Resume</a>
                    <li class="">
                       <a href="mailto:desiree.z.garcia@gmail.com" title="A tricky time never stops">Say Hello</a>
                   </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!--the cols-->
        </div><!-- /.container -->
    </nav>
