<!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="heuristic" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>How it all began</h2>
                            <img src="img/portfolio/nd/heuristics.jpg" class="img-responsive img-centered" alt="">
                            <p>We learned from the first round of user testing that the visual aids we created to help testers compare fees were being ignored. Clean, bold, larger type was just as effective at getting their attention. Whether or not a fee was relatively higher or lower than an industry standard was not the persuasive factor in tester's choices.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- modal end -->

    <div class="portfolio-modal modal fade" id="wireframes" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>User testing goals</h2>
                            <img src="img/portfolio/nd/icl_wireframes.jpg" class="img-responsive img-centered" alt="">
                            <p>The business wanted to know if consumers would be likely to comparison shop between prepaid cards if they had a consistent fee disclosure on every card's package.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- modal end-->
   