<!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="heuristic" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>How it all began</h2>
                            <img src="img/portfolio/nd/heuristics.jpg" class="img-responsive img-centered" alt="">
                            <p>Taking the client through the strengths and weaknesses of their current online content.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- modal end -->

    <div class="portfolio-modal modal fade" id="wireframes" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>User testing goals</h2>
                            <img src="img/portfolio/nd/icl_wireframes.jpg" class="img-responsive img-centered" alt="">
                            <p>Wireframes for a revised landing page.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- modal end-->
   