<!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="toplines" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>How it all began</h2>
                            <img src="img/portfolio/prepaids/top-line.png" class="img-responsive img-centered" alt="">
                            <p>We learned from the first round of user testing that the visual aids we created to help testers compare fees were being ignored. Clean, bold, larger type was just as effective at getting their attention. Whether or not a fee was relatively higher or lower than an industry standard was not the persuasive factor in tester's choices.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- modal end -->

    <div class="portfolio-modal modal fade" id="testing1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>User testing goals</h2>
                            <img src="img/portfolio/prepaids/comparison_shopping.png" class="img-responsive img-centered" alt="">
                            <p>The business wanted to know if consumers would be likely to comparison shop between prepaid cards if they had a consistent fee disclosure on every card's package.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- modal end-->
   
    <div class="portfolio-modal modal fade" id="competitors" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Competitive Analysis</h2>
                            <img src="img/portfolio/prepaids/competitors.png" class="img-responsive" alt="">
                                <p>The top-left image is what the user testing firm that the business had contracted had recommended. The bottom-left is an image of a lobbyist group's proposal. The Pew Charitable Trusts' prototype (right) displayed by far the most concept exploration. None of these concepts had defined any constraints–like the number of fees that would be required to have on display. All in all, you see a hybrid of the Schumer box and nutrition facts label going on.  
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--modal end-->
    <div class="portfolio-modal modal fade" id="constraints" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Initial constraints</h2>
                            <img src="img/portfolio/prepaids/challenge_30_fees.png" class="img-responsive img-centered" alt="Citizen">
                            <p>You can see how Pew's concept starts falling apart when you plug in all the information that would be required by law. Pew advocated for disclosing any and all information to consumers pre-purchase. From a packaging perspective, this would be very tricky to implement for material reasons alone.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- modal end-->
    <div class="portfolio-modal modal fade" id="visual_cues" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Form structure</h2>
                            <img src="img/portfolio/prepaids/insight_iterating.png" class="img-responsive img-centered" alt="Researcher">
                            <p>From Design's initial work, what was working was a strong type hierarchy. Four prominent fees were driving users' decisions in testing. The business had chosen those fees arbitrarily. I saw an opportunity to elicit a reaction from consumers–those fees needed to mean something more than an amount of money.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- modal end-->
    <div class="portfolio-modal modal fade" id="shopping_experience" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 content">
                        <div class="modal-body">
                            <h2>Diagramming the shopping experience</h2>
                            <img src="img/portfolio/prepaids/proposed_experience.png" class="img-responsive img-centered" alt="Developers">
                            <p>This is how the business visualized the shopping experience of they wanted users to have.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!--modal end-->
    <div class="portfolio-modal modal fade" id="personas" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Defining personas</h2>
                            <img src="img/portfolio/prepaids/personas.jpg" class="img-responsive img-centered" alt="All the users">

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--modal end-->

     <div class="portfolio-modal modal fade" id="behaviors" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Proposing design goals</h2>
                            <img src="img/portfolio/prepaids/design-goals.jpg" class="img-responsive img-centered" alt="All the users">

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--modal end-->



     <div class="portfolio-modal modal fade" id="recommendations" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Making specific recommendations</h2>
                            <img src="img/portfolio/prepaids/ordering-fees.jpg" class="img-responsive img-centered" alt="All the users">

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--modal end-->



     <div class="portfolio-modal modal fade" id="bxchange" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Designing the behavioral plan</h2>
                            <img src="img/portfolio/prepaids/IMG_2288.JPG" class="img-responsive img-centered" alt="All the users">
                            <p>I used Steve Wendel's Designing for Behavior Change Toolkit to visualize the behaviors we wanted and challenges we would face.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--modal end-->



     <div class="portfolio-modal modal fade" id="formversions" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-2">
                        <div class="modal-body">
                            
                            <img src="img/portfolio/prepaids/process.png" class="img-responsive img-centered" alt="All the users">
                            <p>You can see that we focused on giving strong emphasis to four fees as a way to grab consumers' attention. Our biggest challenge was working with the business to minimize the amount (and location) of fine print.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--modal end-->


     <div class="portfolio-modal modal fade" id="package" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-2">
                        <div class="modal-body">
                            
                            <img src="img/portfolio/prepaids/prototype_familiar_environment.png" class="img-responsive img-centered" alt="All the users">
                            <p>Our form is meant to be used on the most common type of card packaging. It is placed where the consumer is used to finding more information about a card product.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--modal end-->

    <div class="portfolio-modal modal fade" id="open" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-2">
                        <div class="modal-body">
                            
                            <img src="img/portfolio/prepaids/open_package.png" class="img-responsive img-centered" alt="All the users">
                            <p>The business wanted to know how likely consumers were to look for additional information in a card's package. Some advocacy groups we talked to felt that the only fair disclosure was a full one. Our prototype experiments with a fold-out disclosure in a resealable part of a package.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--modal end-->

       <div class="portfolio-modal modal fade" id="web" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-2">
                        <div class="modal-body">
                            
                            <img src="img/portfolio/prepaids/web_disclosure.png" class="img-responsive img-centered" alt="All the users">
                            <p>Design proposed a digital version of a full disclosure instead. Using a call to action on the disclosure form, consumers could use a short URL to quickly pull up the terms and conditions for a card product. This would help solve any problems of package and material durability. Consumers are generally weary of the "you break you buy" principle.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--modal end-->


       <div class="portfolio-modal modal fade" id="text" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-2">
                        <div class="modal-body">
                            
                            <img src="img/portfolio/prepaids/prepaids_full.jpg" class="img-responsive img-centered" alt="All the users">
                            <p>I also set up a prototype SMS fee-lookup service. Using platforms like <a href="https://www.textizen.com/" target="new">Textizen</a>, the 90% of Americans with text-messaging access could look up fees this way.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--modal end-->



       <div class="portfolio-modal modal fade" id="testing2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-2">
                        <div class="modal-body">
                            
                            <img src="img/portfolio/prepaids/testing_versions.png" class="img-responsive img-centered" alt="All the users">
                            <p></p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--modal end-->