<script type="text/javascript">
//store the quotations in arrays
quotes = [];

quotes[0] = "She really does have long arms.";

quotes[1] = "All puns are intended on this website.";

quotes[2] = "She makes a mean guacamole.";

quotes[3] = "If she is not at a computer, she is probably at a stove.";


//calculate a random index number
index = Math.floor(Math.random() * quotes.length);

//display the quotation
document.write("\n");
document.write("" + quotes[index] + "\n");
document.write("\n");

//done
</script>
